.customNavbar {
  
  .customBrandTxt {
    font-size: 30px;
  }

  .navItem {
    margin: 0 15px;

    &:hover {
      color: rgb(250, 65, 65);
    }
  }

  .activeClass {
    color: rgb(250, 65, 65);
  }

  a, a:hover, a:focus, a:active {
    color: inherit;
    transform: none;
    text-decoration: none;
  }
}